build/*
.Xil/*
.vscode/*
artifacts/*
matlab/sensor_data.bin
hls/dma_lb_axis_switch/dma_lb_axis_switch/*
log_data/*
qt/sdk/*
qt/build*
**/slprj
vivado*.jou
vivado*.log
vivado*.str
webtalk*.jou
webtalk*.log
vitis_hls*.log
webtalk*.str
*runtime.txt
*.slxc
*.asv
*.m~